*.bak
*.sw?
.DS_Store

/.bundle
/.rspec
/.yardoc
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/contents
/coverage
/db/*.sqlite3
/doc
/log/*.log
/public/coverage
/public/doc
/spec/contents
/tmp
/vendor/assets/.bowerrc
/vendor/assets/bower.json
/vendor/assets/bower_components/
/vendor/bundle
